<p>{{{ i18n "badge-challenge-description" }}}</p>

<div class="buttons are-large is-centered call-to-action">
    <a href="{{womProtocol}}://challenge/v1/{{challengeId}}" title="{{ i18n "badge-challenge-button-tooltip" }}" class="button is-info">{{{ i18n "badge-challenge-button-text" }}}</a>
</div>
