<p>{{{ i18n "payment-description" }}}</p>

<div class="buttons are-large is-centered call-to-action">
    <a href="{{ womProtocol }}://pay/{{ otc }}" title="{{ i18n "payment-button-tooltip" }}" class="button is-info">{{{ i18n "payment-button-text" }}}</a>
</div>
