<p>{{{ i18n "pos-verify-description" }}}</p>

<div class="buttons are-large is-centered call-to-action">
    <a href="{{ womProtocol }}://process/verify?email={{ component email }}&token={{ component token }}" title="{{ i18n "pos-verify-button-tooltip" }}" class="button is-info">{{ i18n "pos-verify-button-text" }}</a>
</div>
