<p>{{{ i18n "redemption-description" }}}</p>

<div class="buttons are-large is-centered call-to-action">
    <a href="{{ womProtocol }}://transfer/{{ otc }}" title="{{ i18n "redemption-button-tooltip" }}" class="button is-info">{{ i18n "redemption-button-text" }}</a>
</div>
